@import url('./common.scss');

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
}

.movie-list img {
    width: 100%;
}

.main {
    display: grid;
    grid-template-areas:
        'card-1 card-1 card-1 card-1'
        'card-2 card-2 card-3 card-3'
        'card-4 card-4 card-4 card-5';
}

@media (min-width: 900px) {
    .main {
        grid-template-areas:
            'card-4 card-2 card-2 card-2'
            'card-5 card-5 card-5 card-5'
            'card-3 card-1 card-1 card-1';
    }
}

.card:nth-child(1) {
    grid-area: card-1;
}

.card:nth-child(2) {
    grid-area: card-2;
}

.card:nth-child(3) {
    grid-area: card-3;
}

.card:nth-child(4) {
    grid-area: card-4;
}

.card:nth-child(5) {
    grid-area: card-5;
}

.card {
    padding: 8px;
}

.card:nth-child(even) {
    border: 3px dashed tomato;
}

.card:nth-child(odd) {
    border: 3px dashed teal;
}
