<div class="movie-list">
  {{#each this}}
    <div>
      <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" width="320">
      <h2>{{title}}</h2>
      <p>{{overview}}</p>
    </div>
  {{/each}}
</div>